<link rel="stylesheet" href="~/css/Animation.css" />


<div class="wrapper">
    <svg class="animated-check" viewBox="0 0 24 24">
        <path d="M4.1 12.7L9 17.6 20.3 6.3" fill="none" />
    </svg>
     <h6 style="margin-top:auto;margin-bottom:200px;margin-right:20px">
            Your Request Has Been Sucessfully Sent To Customer
        </h6>
 
</div>
   <div>
       
    </div>
