@model IEnumerable<BidResponse>
@{
    //Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<div class="container" style="margin-left:20px">
    
    <div>
        <partial name="_CreateBidPartial" model="new BidRequest()"></partial>
    </div>
    <div>
    </div>
    <div id="partialBidData">
        <partial name="_BidListPartial" model="Model"></partial>
    </div>
</div>


    
@section Scripts
{
         <script type="module" src="~/client/bidService .js" asp-append-version="true"></script>
}