@model IEnumerable<BidResponse>
@{
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<div class="container-fluid">
    
    <div>
        <partial name="_CreateBidPartial" model="new BidRequest()"></partial>
    </div>
    <div>
    </div>
    <div id="partialBidData">
        <partial name="_BidListPartial" model="Model"></partial>
    </div>
</div>