@model IEnumerable<BidRequest>
@{
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<div class="container-fluid">
    <div>
        <h3>Welcome To Bid Sytem please Enter Your Detais</h3>
    </div>
    <div>
        @*<partial name="_CreateBidPartial" model="new BidRequest()"></partial>*@
    </div>
    <div>
    </div>
    <div id="partialBidData">
        @*<partial name="_BidListPartial" model="Model"></partial>*@
    </div>
</div>