@model IEnumerable<ResponseDb>

    <table class="table">
        <tr>
            <th>Name</th>
            <th>Role</th>
            <th>Message</th>
            <th>Action</th>
            <th>Action</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.SenderUsername</td>
                <td>@item.SenderUserRole</td>
                <td>@item.Description</td>
                <td><a class="btn btn-success">Accept</a></td>
                <td><a class="btn btn-danger">Reject</a></td>
            </tr>
        }
    </table>