@model SignupRequest

<style>
    .row{
        margin-top:100px;
    }

    .btn{

    }
</style>

@{
    var x = ViewBag.Message;
    if (x != null)
    {
        if (x > 0 )
        {    
            <script>
            swal("Account Created Successfully", "", "success");
            </script>

        }
        else
        {
             <script>
            swal("Username already taken", "", "error");
            </script>
        }
    }
}


<div class="row">
    <h1>Create User</h1>
    <div>
        <form asp-action="CreateUser" asp-controller="Admin" method="post">

            <div>
                <input asp-for="Email" class="form-control col-md-6 " placeholder="Enter Email" />
            </div>

            <div>
                <input asp-for="PhoneNo" class="form-control col-md-6 mt-3" placeholder="Enter Phone No" />
            </div>

            <div>
                <select asp-for="UserRole" class="form-control col-md-6 mt-3" asp-items="Html.GetEnumSelectList<UserRole>()">
                    <option value="">Select Role</option>
                </select>
            </div>
            <button asp-action="CreateUser" asp-controller="Admin" class="btn btn-primary mt-3">Create</button>
        </form>
    </div>
</div>
