@model SignupRequest

<style>
    .row{
        margin-top:100px;
    }

    .btn{
        margin-bottom:30px;
    }
</style>

@{
    var x = ViewBag.Message;
    if (x != null)
    {
        if (x == -2 )
        {    
            <script>
            swal("Phone Number Already Taken", "", "error");
            </script>

        }
        else if(x == -1)
        {
             <script>
            swal("Username already taken", "", "error");
            </script>
        }
        else if(x > 0)
        {
             <script>
            swal("Account Created Successfully", "", "success");
            </script>
        }


    }
}


<div class="row offset-4">
    <h1>Create User</h1>
    <div>
        <form asp-action="CreateUser" asp-controller="Admin" method="post">

            <div>
                <input asp-for="Email" class="form-control col-md-6 " placeholder="Enter Email" />
            </div>

            <div>
                <input asp-for="PhoneNo" class="form-control col-md-6 mt-3" placeholder="Enter Phone No" />
            </div>
            @*<div>
                    <input asp-for="DOB" placeholder="Enter DOB" class="form-control col-md-6 mt-3" />
                    <span asp-validation-for="DOB" class="text-danger"></span>
            </div>*@
            <div>
                <select asp-for="UserRole" id="role" class="form-control col-md-6 mt-3" asp-items="Html.GetEnumSelectList<UserRole>()">
                    <option value="">Select Role</option>
                </select>
            </div>
             <div>
                <select asp-for="UserRole" class="form-control  col-md-6 mt-3" asp-items="@(new SelectList(ViewBag.Managers,"Id","Name"))">
                    <option value="">Select Role</option>
                </select>
            </div>

            <div>
                <select asp-for="UserRole" id="role1" style="display:none" class="form-control col-md-6 mt-3">
                    <option value="">Select</option>
                </select>
            </div>

            <button asp-action="CreateUser" asp-controller="Admin" class="btn btn-primary mt-3">Create</button>
        </form>
    </div>
</div>

@section Scripts
{
         <script type="module" src="~/client/createUserService.js" asp-append-version="true"></script>
}
