@model SignupRequest

<style>
    .row{
        margin-top:100px;
    }
</style>

@if(ViewBag.Message != null)
{
    if (ViewBag.Message =="1")
    {
        <h2 class="alert alert-success">Account Created Successfully</h2>
    }
    else
    {
        <h2 class="alert alert-danger">UserName already exists</h2>
    }
}


<div class="row">
    <h1>Create User</h1>
    <div>
        <form asp-action="CreateUser" asp-controller="Admin" method="post">
            <div>
                <input asp-for="Id" hidden />
            </div>

            <div>
                <input asp-for="UserName" hidden />
            </div>

            <div>
                <input asp-for="Password" hidden />
            </div>

            <div>
                <input asp-for="Email" placeholder="Enter Email" />
            </div>

            <div>
                <input asp-for="PhoneNo" placeholder="Enter Phone No" />
            </div>

            <div>
                <select asp-for="UserRole" asp-items="Html.GetEnumSelectList<UserRole>()">
                    <option value="">Select Role</option>
                </select>
            </div>
            <button asp-action="CreateUser" asp-controller="Admin" class="btn btn-primary">Create</button>
        </form>
    </div>
</div>
