@model IEnumerable<ContactUsResponse>

<table class="table" style="margin-top:100px">
    <tr>
        <th>From</th>
        <th>Email</th>
        <th>Cell</th>
        <th>Message</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
             <td>@item.Name</td>
             <td>@item.Email</td>
             <td>@item.PhoneNo</td>
             <td>@item.Message</td>
        </tr>
       
    }
</table>