@model UserResponse
 <link href="~/css/userSearchDetails.css" rel="stylesheet">

      <main id="main11">
        <div class='card1' style="background-image:url(@Model.) ;">
          <div class='info1'>
            <h1 id="namee" class='title'>@Model.UserName</h1>
            <p class='description'>Email:- @Model.Email</p>
            <p class='description'>UserRole:- @Model.UserRole</p>
            <p class='description'>UserStatus:-@Model.UserStatus</p>
          </div>
        </div>
      </main>