
  <main id="main " style="margin-top:80px">

    <!-- ======= About Us Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>About Us</h2>
          <ol>
            <li><a asp-action="Index">Home</a></li>
            <li>About Us</li>
          </ol>
        </div>

      </div>
    </section><!-- End About Us Section -->

    <!-- ======= About Section ======= -->
    <section class="about" data-aos="fade-up">
      <div class="container">

        <div class="row">
          <div class="col-lg-6">
            <img src="~/Images/pngegg.png" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <h3> Many novice writers tend to make a sharp distinction between
              content and style, thinking that a paper can
              be strong in one and weak in the other.</h3>
            <p class="fst-italic">
              Many novice writers tend to make a sharp distinction between
              content and style, thinking that a paper can
              be strong in one and weak in the other.
            </p>
            <ul>
              <li><i class="bi bi-check2-circle"></i>  Many novice writers tend to make a sharp distinction between
                content and style, thinking that a paper can
                be strong in one and weak in the other..</li>
              <li><i class="bi bi-check2-circle"></i>  Many novice writers tend to make a sharp distinction between
                content and style, thinking that a paper can
                be strong in one and weak in the other.</li>
              <li><i class="bi bi-check2-circle"></i>  Many novice writers tend to make a sharp distinction between
                content and style, thinking that a paper can
                be strong in one and weak in the other.</li>
            </ul>
            <p>
              Many novice writers tend to make a sharp distinction between
              content and style, thinking that a paper can
              be strong in one and weak in the other.
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

     <!-- ======= Features Section ======= -->
    <section class="features">
      <div class="container">

        <div class="section-title">
          <h2>Features</h2>
          <p>Many novice writers tend to make a sharp distinction between content and style, thinking that a paper can
            be strong in one and weak in the other, but focusing on organization shows how content and style converge in
            deliberative academic writing.</p>
        </div>

        <div class="row" data-aos="fade-up">
          <div class="col-md-5">
            <img src="~/Images/pngegg.png" class="img-fluid" alt="">
          </div>
          <div class="col-md-7 pt-4">
            <h3>This is the main para dummy text.</h3>
            <p class="fst-italic">
              Many novice writers tend to make a sharp distinction between content and style, thinking that a paper can
              be strong in one and weak in the other.
            </p>
            <ul>
              <li><i class="bi bi-check"></i>This is the dummy text</li>
              <li><i class="bi bi-check"></i>This is the dummy text</li>
            </ul>
          </div>
        </div>

        <div class="row" data-aos="fade-up">
          <div class="col-md-5 order-1 order-md-2">
            <img src="~/Images/pngegg.png" class="img-fluid" alt="">
          </div>
          <div class="col-md-7 pt-5 order-2 order-md-1">
            <h3>This is the main para dummy text.</h3>
            <p class="fst-italic">
              Many novice writers tend to make a sharp distinction between content and style, thinking that a paper can
              be strong in one and weak in the other.
            </p>
            <p>
              Many novice writers tend to make a sharp distinction between content and style, thinking that a paper can
              be strong in one and weak in the other, but focusing on organization shows how content and style converge
              in
              deliberative academic writing.
            </p>
          </div>
        </div>

        <div class="row" data-aos="fade-up">
          <div class="col-md-5">
            <img src="~/Images/pngegg.png" class="img-fluid" alt="">
          </div>
          <div class="col-md-7 pt-5">
            <h3>This is the main para dummy text.</h3>
            <p> Many novice writers tend to make a sharp distinction between content and style, thinking that a paper
              can
              be strong in one and weak in the other.</p>
            <ul>
              <li><i class="bi bi-check"></i>This is the dummy text</li>
              <li><i class="bi bi-check"></i>This is the dummy text</li>
            </ul>
          </div>
        </div>

        <div class="row" data-aos="fade-up">
          <div class="col-md-5 order-1 order-md-2">
            <img src="~/Images/pngegg.png" class="img-fluid" alt="">
          </div>
          <div class="col-md-7 pt-5 order-2 order-md-1">
            <h3>This is the main para dummy text</h3>
            <p class="fst-italic">
              Many novice writers tend to make a sharp distinction between content and style, thinking that a paper can
              be strong in one and weak in the other.
            </p>
            <p>
              Many novice writers tend to make a sharp distinction between content and style, thinking that a paper can
              be strong in one and weak in the other, but focusing on organization shows how content and style converge
              in
              deliberative academic writing.
            </p>
          </div>
        </div>

      </div>
    </section>
   @* <!-- End Features Section -->*@
    

   

  </main><!-- End #main -->


  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

