@model HomeModel

@{
    ViewData["Title"] = "Home Page";
}

 <section id="hero" class="d-flex justify-cntent-center align-items-center">
    <div id="heroCarousel" class="container carousel carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">

      <!-- Slide 1 -->
      <div class="carousel-item active">
        <div class="carousel-container">
          <h2 class="animate__animated animate__fadeInDown">Welcome to <span>WorkForce</span></h2>
          <p class="animate__animated animate__fadeInUp">Many novice writers tend to make a sharp distinction between
            content and style, thinking that a paper can
            be strong in one and weak in the other, but focusing on organization shows how content and style converge in
            deliberative academic writing.</p>
          <a href="" class="btn-get-started animate__animated animate__fadeInUp bbt">Read More</a>
        </div>
      </div>

      <!-- Slide 2 -->
      <div class="carousel-item">
        <div class="carousel-container">
          <h2 class="animate__animated animate__fadeInDown">Adil Zargar</h2>
          <p class="animate__animated animate__fadeInUp">Many novice writers tend to make a sharp distinction between
            content and style, thinking that a paper can
            be strong in one and weak in the other, but focusing on organization shows how content and style converge in
            deliberative academic writing.</p>
          <a href="" class="btn-get-started animate__animated animate__fadeInUp bbt">Read More</a>
        </div>
      </div>

      <!-- Slide 3 -->
      <div class="carousel-item">
        <div class="carousel-container">
          <h2 class="animate__animated animate__fadeInDown">Owais Ashraf</h2>
          <p class="animate__animated animate__fadeInUp">Many novice writers tend to make a sharp distinction between
            content and style, thinking that a paper can
            be strong in one and weak in the other, but focusing on organization shows how content and style converge in
            deliberative academic writing.</p>
          <a href="" class="btn-get-started animate__animated animate__fadeInUp bbt">Read More</a>
        </div>
      </div>

      <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon bx bx-chevron-left" aria-hidden="true"></span>
      </a>

      <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon bx bx-chevron-right" aria-hidden="true"></span>
      </a>

    </div>
  </section><!-- End -->

  <main id="main">

    <!-- ======= Services Section ======= -->
    <section class="services">
      <div class="container">

        <div class="row">
            
          @*  @foreach (var item in Model.skillResponses)
            {
                   <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up">
            <div class="icon-box icon-box-pink">
              <!-- <div class="icon"><i class="bx bxl-dribbble"></i></div> -->
            <div class="icon"><i> <img src="~/Images/pngegg.png" style="height: 70px;width: 70px;margin-top: -16px;"></i></div>
             <h4 class="title"><a asp-action="SkillName" asp-route-jobprofile="@item.JobProfile">@item.JobProfile</a></h4>
              <p class="description">Many novice writers tend to make a sharp distinction between content and style,
                thinking that a paper can be strong in one and weak in the other.</p>
            </div>
          </div>           
            }*@

        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Why Us Section ======= -->
    <section class="why-us section-bg" data-aos="fade-up" date-aos-delay="200">
      <div class="container">
        <h3 style="text-align:center">This is why us section</h3>
        <div class="row">
          <div class="col-lg-6 video-box">
            <img src="~/Images/pngegg.png" class="img-fluid" alt="About Us Video">
            <a href="https://www.youtube.com/watch?v=xBxU_OYf2f8" target="_blank" class="venobox play-btn mb-4" data-vbtype="video"
              data-autoplay="true"></a>
          </div>

          <div class="col-lg-6 d-flex flex-column justify-content-center p-5">

            <div class="icon-box">
              <div class="icon"><i class="bx bx-fingerprint"></i></div>
              <h4 class="title"><a href="">Hello World</a></h4>
              <p class="description">Many novice writers tend to make a sharp distinction between content and style,
                thinking that a paper can be strong in one and weak in the other.</p>
            </div>

            <div class="icon-box">
              <div class="icon"><i class="bx bx-gift"></i></div>
              <h4 class="title"><a href="">Hello world</a></h4>
              <p class="description">Many novice writers tend to make a sharp distinction between content and style,
                thinking that a paper can be strong in one and weak in the other.</p>
            </div>

          </div>
        </div>

      </div>
    </section><!-- End Why Us Section -->

   <!-- ======= Tetstimonials Section ======= -->
    <section class="testimonials" data-aos="fade-up">
      <div class="container">

        <div class="section-title">
          <h2>Tetstimonials</h2>
          <p>Many novice writers tend to make a sharp distinction between content and style, thinking that a paper can
            be strong in one and weak in the other, but focusing on organization shows how content and style converge in
            deliberative academic writing.</p>
        </div>

        <div class="testimonials-carousel swiper">
          <div class="swiper-wrapper">
            <div class="testimonial-item swiper-slide">
              <img src="~/Images/pngegg.png" class="testimonial-img" alt="">
              <h3>Adil Zargar</h3>

              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Many novice writers tend to make a sharp distinction between content and style,
                thinking that a paper can be strong in one and weak in the other.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </div>

            <div class="testimonial-item swiper-slide">
              <img src="~/Images/pngegg.png" class="testimonial-img" alt="">
              <h3>Owais Ashraf</h3>

              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Many novice writers tend to make a sharp distinction between content and style,
                thinking that a paper can be strong in one and weak in the other.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </div>

            <div class="testimonial-item swiper-slide">
              <img src="~/Images/pngegg.png" class="testimonial-img" alt="">
              <h3>Danish Mir</h3>

              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Many novice writers tend to make a sharp distinction between content and style,
                thinking that a paper can be strong in one and weak in the other.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </div>

            <div class="testimonial-item swiper-slide">
              <img src="~/Images/pngegg.png" class="testimonial-img" alt="">
              <h3>Adnan Shalla</h3>

              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Many novice writers tend to make a sharp distinction between content and style,
                thinking that a paper can be strong in one and weak in the other.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </div>


          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Ttstimonials Section -->

  </main>
  @*<!-- End #main -->*@

