@model IEnumerable<Models.UserResponse>

    <div class="mt-5">
        <table>
            <thead>
        <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            </thead>
            <tbody>
                @foreach (var item in Model) {
                <tr>
                    <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
