<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="apple-touch-icon" sizes="76x76" href="./assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="./assets/img/favicon.png">
    <title>

    </title>
    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900|Roboto+Slab:400,700" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>


    <link id="pagestyle" href="~/css/UserLayout.css" rel="stylesheet" />
</head>

<body style="overflow-x:hidden;">

    <div class="vertical-nav " id="sidebar" style="background-color:#0b212d">
        <div class="py-4 px-3 mb-4">

            <i class="fas fa-times p-3 cursor-pointer text-white opacity-5 position-absolute end-0 top-0 d-none d-xl-none" aria-hidden="true" id="iconSidenav"></i>
            <h4 style="color:white;text-align:center">@User.GetRole()</h4>
        </div>
        <hr class="text-gray " style="height:3px">
        <div>
            <ul class="nav flex-column  mb-0">
                <li class="nav-item">
                    <a class="nav-link  font-italic text-white" asp-action="Dashboard" asp-controller="Admin">
                        <div class="text-white  me-2 d-flex " style="height:10px;margin-left:30px;margin-top:10px">
                            <i class="material-icons opacity-10"><ion-icon name="home-outline" style="font-size:30px"></ion-icon></i>
                            <span class="nav-link-text ms-1" style="font-size:18px">Dashboard</span>

                        </div>
                    </a>
                </li>
                <li class="nav-item mt-4">
                    <a class="nav-link text-dark font-italic text-white" asp-action="Index" asp-controller="Slider">
                        <div class="text-white me-2 d-flex  " style="height:10px;margin-left:30px;margin-top:10px">
                            <i class="material-icons opacity-10"><ion-icon name="library-outline" style="font-size:30px"></ion-icon></i>
                            <span class="nav-link-text ms-1" style="font-size:18px">Add Slider</span>
                        </div>
                    </a>
                </li>

                <li class="nav-item mt-4">
                    <a class="nav-link text-dark font-italic text-white" asp-action="Search" asp-controller="Admin">
                        <div class="text-white me-2 d-flex  " style="height:10px;margin-left:30px;margin-top:10px">
                            <i class="material-icons opacity-10"><ion-icon name="library-outline" style="font-size:30px"></ion-icon></i>
                            <span class="nav-link-text ms-1" style="font-size:18px">Users</span>
                        </div>
                    </a>
                </li>


                <li class="nav-item mt-4">
                    <a class="nav-link text-white " >
                        <div class="text-white  me-2 d-flex " style="height:10px;margin-left:30px;margin-top:10px">
                            <i class="material-icons opacity-10"><ion-icon name="notifications-outline" style="font-size:30px"></ion-icon></i>
                            <span class="nav-link-text ms-1" style="font-size:18px">Messages</span>

                        </div>
                    </a>
                </li>
                 @if (User.IsInRole(UserRole.Manager.ToString()) || User.IsInRole(UserRole.Contractor.ToString()) || User.IsInRole(UserRole.Labour.ToString()))
                {
                    <li class="nav-item mt-4">
                        <a class="nav-link text-white "  asp-action="viewbids" asp-controller="bid">
                            <div class="text-white  me-2 d-flex " style="height:10px;margin-left:30px;margin-top:10px">
                                <i class="material-icons opacity-10"><ion-icon name="notifications-outline" style="font-size:30px"></ion-icon></i>
                                <span class="nav-link-text ms-1" style="font-size:18px">view Bids</span>

                            </div>
                        </a>
                    </li>
                }
                 @if (User.IsInRole(UserRole.Customer.ToString()))
                {
                    <li class="nav-item mt-4">
                        <a class="nav-link text-white "  asp-action="Index" asp-controller="bid">
                            <div class="text-white  me-2 d-flex " style="height:10px;margin-left:30px;margin-top:10px">
                                <i class="material-icons opacity-10"><ion-icon name="notifications-outline" style="font-size:30px"></ion-icon></i>
                                <span class="nav-link-text ms-1" style="font-size:18px">Add Bids</span>

                            </div>
                        </a>
                    </li>  
                }

                <li class="nav-item mt-4">
                    <a class="nav-link text-dark font-italic text-white" asp-action="changepassword" asp-controller="account">
                        <div class="text-white  me-2 d-flex " style="height:10px;margin-left:30px;margin-top:10px">
                            <i class="material-icons opacity-10"><ion-icon name="person-add-outline" style="font-size:30px"></ion-icon></i>
                            <span class="nav-link-text ms-1" style="font-size:18px">Change Password</span>
                        </div>
                    </a>
                </li>

                <li class="nav-item mt-4">
                    <a class="nav-link text-dark font-italic text-white " asp-action="logout" asp-controller="account">
                        <div class="text-white  me-2 d-flex " style="height:10px;margin-left:30px;margin-top:10px">
                            <i class="material-icons opacity-10"><ion-icon name="log-out-outline" style="font-size:30px"></ion-icon></i>
                            <span class="nav-link-text ms-1" style="font-size:18px">Logout</span>
                        </div>
                    </a>
                </li>

            </ul>
        </div>

    </div>

    <nav class="navbar page-content navbar-expand text-white sticky-top navbar-light sticky-top px-4 py-0" style="background-color:#0b212d;height:100px;" id="content">
        <button style="background-color:#0b212d;color:white" id="sidebarCollapse">
            <ion-icon name="menu" class="sidebar-toggler flex-shrink-0" style="height:30px;width:30px"></ion-icon>
        </button>


        <div class="nav-item dropdown " style="margin-left:90%">
            <a href="#" class="nav-link dropdown-toggle text-light" data-bs-toggle="dropdown">
                <span class=" text-light">@User.GetUserName()</span>
            </a>
            <div class="dropdown-menu dropdown-menu-end  border-0 rounded-0 rounded-bottom m-0" style="background-color:#0b212d;">
                @if (User.IsInRole(nameof(UserRole.Admin)))
                {
                    <a asp-action="EditAdmin" asp-controller="Account" class="dropdown-item text-light">My Profile</a>

                }
                else
                {
                    <a asp-action="Profile" asp-controller="Account" class="dropdown-item text-light">My Profile</a>

                }
                <a asp-action="Logout" asp-controller="Account" class="dropdown-item text-light">Logout</a>

            </div>
        </div>

    </nav>

    <div class="container-fluid py-4 justify-content-between" id="bMargin">
        @RenderBody()
    </div>
    <!--   Core JS Files   -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>



    <script>
              $(function() {
          // Sidebar toggle behavior
          $('#sidebarCollapse').on('click', function() {
            $('#sidebar, #content,#bMargin').toggleClass('active');
          });
        });
    </script>

    <script src="~/js/material-dashboard.min.js"></script>
    @RenderSection("Scripts", required: false)

</body>
</html>
