@model ChangePasswordRequest

<div class="row container mt-5">
    <div class="col-12 " style="align-content:center;">
        <div class="container-fluid alert alert-success" style="max-width:60vw;width:30vw;">
            <center style="font-size:30px;color:black;font-weight:bolder">Change Password</center>
            <br style="color:black" />
            <form method="post" asp-controller="Account" asp-action="ChangePassword">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <input hidden class="form-control" style="border-radius:200px" asp-for="Id" />
                </div>

                <div class="form-group mt-2">
                    <label asp-for="OldPassword">Old Password</label>
                    <input class="form-control" style="border-radius:200px" asp-for="OldPassword" />
                    <span asp-validation-for="OldPassword" class="text-danger"></span>
                </div>

                <div class="form-group mt-2">
                    <label asp-for="NewPassword">New Password</label>
                    <input class="form-control" style="border-radius:200px" asp-for="NewPassword" />
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                </div>

                <div class="form-group mt-2">
                    <label asp-for="ConfirmPassword">Confirm Password</label>
                    <input class="form-control" style="border-radius:200px" asp-for="ConfirmPassword" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>

                <input id="change" style="border-radius:200px;color:black;font-weight:bolder" type="submit" value="Change Password" class="form-control mt-2 btn btn-primary" />
            </form>
        </div>
    </div>
</div>
<script>
    document.getElementById("change").onmouseover=()=>{
        document.getElementById("change").value="Submit";
    }
    document.getElementById("change").onmouseout=()=>{
        document.getElementById("change").value="Change Password";
    }
</script>


