@model ForgotPasswordRequest
@{
    Layout = "_Layout";
    ViewData["Title"] = "Forgot-Password";
}
<form asp-action="ForgotPassword" asp-controller="Account">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Email">Enter Your Registered Email Here!</label>
        <input asp-for="Email" class="form-control"style="height:60px" placeholder="Enter Email">
        <span asp-validation-for="Email" class="text-danger"></span>
    </div><br />
    <button type="submit" class="btn btn-primary">Submit</button>
</form>