@model ResetPasswordRequest
<style>
    .txt{
        font-size:30px;
        color:black;
        font-weight:bolder;
    }

    input:invalid{
        animation: shake 300ms;
    }

  @@keyframes shake{
      25%{transform:translateX(4px)}
      50%{transform:translateX(-4px)}
      75%{transform:translateX(4px)}

  }
@@media screen and (max-width:715px)
{
    .txt{
        font-size:10px;
        color:aqua;
    }
    #mainn{
        background-color:aqua;
    }
}

</style>
<div id="mainn" class="row container mt-5">
    <div class="col-12 ">
        <div class="container-fluid alert alert-secondary" style="max-width:25vw;width:25vw;">
            <center class="container-fluid txt" style="font-size:30px;color:black;font-weight:bolder">Reset Your Password</center>
            <br style="color:black" />
            <form method="post" asp-controller="Account" asp-action="resetpassword">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="NewPassword"></label>
                    <input class="form-control vall" style="border-radius:200px" asp-for="NewPassword" />
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                </div>


                <div class="form-group mt-2">
                    <label asp-for="ConfirmPassword"></label>
                    <input class="form-control" vall style="border-radius:200px" asp-for="ConfirmPassword" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>

                <input id="reset" style="border-radius:200px;color:black;font-weight:bolder" type="submit" value="Reset" class="form-control mt-2 btn btn-primary" />
            </form>
        </div>


    </div>

</div>
<script>
    document.getElementById("reset").onmouseover=()=>{
    document.getElementById("reset").value="Submit";
    }
    document.getElementById("reset").onmouseout=()=>{
    document.getElementById("reset").value="Reset";
    }
</script>

