@model SignupRequest

@{
    ViewData["Title"] = "SignUp";
}

@{
    var x = ViewBag.Message;
    if (x != null)
    {
        if (x > 0 )
        {    
            <script>
            swal("Account Created Successfully", "", "success");
            </script>

        }
        else
        {
             <script>
            swal("Username already taken", "", "error");
            </script>
        }
    }
}
<style>

    .minminmin {
        background: #dfefff;
        font-family: Assistant, sans-serif;
        display: flex;
        min-height: 90vh;
    }

    .login {
        color: white;
        background-color: #0C2D48;
        margin: auto;
        margin-top: 100px;
        box-shadow: 0px 2px 10px rgba(0,0,0,0.2), 0px 10px 20px rgba(0,0,0,0.3), 0px 30px 60px 1px rgba(0,0,0,0.5);
        border-radius: 8px;
        padding: 50px;
        min-height: 400px;
        min-width: 400px;
        width:50%;
    }

        .login .head {
            display: flex;
            align-items: center;
            justify-content: center;
        }

            .login .head .company {
                font-size: 2.2em;
                font-family: 'Times New Roman', Times, serif;
            }

        .login .msg {
            text-align: center;
        }

        .login .form input[type=text].text {
            border: none;
            background: none;
            box-shadow: 0px 2px 0px 0px white;
            width: 100%;
            color: white;
            font-size: 1em;
            outline: none;
        }

        .login .form .text::placeholder {
            color: #D3D3D3;
        }

        .login .form input[type=password].password {
            border: none;
            background: none;
            box-shadow: 0px 2px 0px 0px white;
            width: 100%;
            color: white;
            font-size: 1em;
            outline: none;
            margin-bottom: 20px;
            margin-top: 20px;
        }

        .login .form .password::placeholder {
            color: #D3D3D3;
        }

        .login .form .btn-login {
            background: none;
            text-decoration: none;
            color: white;
            box-shadow: 0px 0px 0px 2px white;
            border-radius: 3px;
            padding: 5px 2em;
            transition: 0.5s;
        }

            .login .form .btn-login:hover {
                background: white;
                color: black;
                font-weight: bold;
                transition: 1.5s;
            }

        .login .forgot {
            text-decoration: none;
            color: white;
            float: right;
        }

    .forgot:hover {
        color: black;
    }

</style>
<div class="minminmin">
    <section class="login" id="login">
        <div class="mt-5">
            <div class="head">
                <h1 class="company">WorkForce</h1>

            </div>
            <div class="text-center">
                Sign Up
            </div>


            <div class="form">
                <form asp-action="SignUp" asp-controller="Account" method="post">
                    <span asp-validation-summary="ModelOnly"></span><br />
                    
                    <div class="row">

                    <div class="col-6">
                    <input asp-for="UserName" placeholder='Username' class='text' required><br>
                    <span asp-validation-for="UserName"  class="text-danger"></span><br />
                    </div>


                     <div class="col-6">
                    <input asp-for="Email" placeholder="Enter Email" class="text" /><br />
                    <span asp-validation-for="Email"  class="text-danger" ></span><br />
                    </div>


                    <div class="col-6">
                    <input asp-for="Password" placeholder='Password' class='password'><br>
                    <span asp-validation-for="Password" class="text-danger" ></span>
                    </div>

                    <div class="col-6">
                    <input asp-for="ConfirmPassword" placeholder='Confirm Password' class='password'><br>
                    <span asp-validation-for="ConfirmPassword"  class="text-danger"></span><br />
                    </div>


                    <div class="col-6">
                    <input asp-for="PhoneNo" placeholder="Enter Phone No" class="text" />
                    <span asp-validation-for="PhoneNo" class="text-danger" ></span><br /><br />
                    </div>

                    <div class="col-6">
                    <input asp-for="DOB" type="date"  placeholder="Enter DOB" class="text btn btn-outline-light " />
                    <span asp-validation-for="DOB" class="text-danger" ></span><br /><br />
                    </div>

                    <div class="col-6">
                    <select asp-for="UserRole" class="btn btn-outline-light dropdown-toggle col-md-6" asp-items="Html.GetEnumSelectList<UserRole>().Skip(1)">
                    <option value="">Account Type</option>
                    </select>
                    </div>
                    
                    <button type="submit" asp-action="signup" asp-controller="account" class='btn-login mt-5' id="do-login">Sign Up</button>

                    </div>
                </form>
            </div>
        </div>
    </section>
</div>
