@model IEnumerable<ResponseDb>

<table class="table">
    <tr>
        <th>Name</th>
        <th>Role</th>
        <th>Message</th>
        <th>Action</th>
        <th>Action</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.SenderUsername</td>
            <td>@item.SenderUserRole</td>
            <td>@item.Description</td>
            <td><a asp-action="ApproveRequest" asp-controller="Labour" asp-route-senderId=@item.SenderId class="btn btn-success">Accept</a></td>
            <td>
                <a asp-action="DeleteRequest" asp-controller="Labour" asp-route-id="@item.Id" class="btn btn-danger" onclick="return confirm('Are you sure you want to reject this request?');">Reject</a>
            </td>
        </tr>
    }
</table>


@*  onclick="return confirm('Are you sure you want to delete this item?');"*@