@model TestimonialRequest
@*@{
    var x = ViewBag.returnValue;
    if (x != null)
    {
        if (x > 0)
        {
            <script>
                swal("Feedback Sent", "Feedback Shared successfully", "success");
            </script>

        }
        else
        {
            <script>
                swal("Message not sent", "There is some issue", "error");
            </script>
        }
    }
}*@
<h1 style="margin-top:150px">This is index us page</h1>
<div>
    <partial name="_TestimonialPartial" model="@Model"/>
</div>